@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #000;
}

.container {
    width: 1200px;

    margin: 0 auto;
}

.header {
    padding-top: 27px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__logo {
        display: flex;

        & p {
            padding-left: 10px;
            font-size: 27px;
        }
    }

    &__email {
        padding-left: 60px;
        padding-bottom: 9px;
    }

    &__social-link {
        text-align: right;

        & a {
            font-weight: 700;
            font-size: 22px;
            line-height: 26px;
        }

        & p {
            font-weight: 300;
            font-size: 20px;
            line-height: 23px;
        }
    }
}